**/.idea
**/target
**/target/
**/*.iml
server.txt

/xxl-sso/xxl-sso-server/target/
/xxl-sso/xxl-sso-samples/xxl-sso-web-sample-springboot/target/
/xxl-sso/xxl-sso-samples/xxl-sso-token-sample-springboot/target/
/xxl-sso/xxl-sso-core/target/
